<?xml version="1.0" encoding="utf-8" ?>
<AppSettings>
  <!-- smtp -->
  <SMTP_HOST>smtp-apac.sgs.net</SMTP_HOST>
  <SMTP_PORT>25</SMTP_PORT>
  <SMTP_ENABLE_SSL>true</SMTP_ENABLE_SSL>
  <!-- /smtp -->
  <!-- credential -->
  <SMTP_USERNAME></SMTP_USERNAME>
  <SMTP_PASSWORD></SMTP_PASSWORD>
  <!-- /credential -->
  <!-- mail -->
  <MAIL_FROM>no-reply@sgs.com</MAIL_FROM>
  <MAIL_SUBJECT>測試郵件</MAIL_SUBJECT>
  <MAIL_BODY>這是一封測試郵件，請勿回覆。</MAIL_BODY>
  <!-- /mail -->
  <!-- message -->
  <MSG_SMTP>未設定 SMTP 伺服器</MSG_SMTP>
  <MSG_FROM>未設定發件人</MSG_FROM>
  <MSG_TO>未設定收件人</MSG_TO>
  <MSG_SUBJECT>未設定郵件主題</MSG_SUBJECT>
  <MSG_BODY>未設定郵件內容</MSG_BODY>
  <!-- /message -->
</AppSettings>
